@keyframes buzz {
  50% {
    transform: translate(3px); }
  100% {
    transform: translate(-3px); } }
@keyframes spin {
  from {
    transform: rotateZ(0); }
  to {
    transform: rotateZ(1turn); } }
@keyframes shake {
  0%, 20%, 100% {
    transform: translateX(0); }
  40%, 80% {
    transform: translateX(-2px); }
  60% {
    transform: translateX(2px); } }
* {
  box-sizing: border-box; }

html {
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  height: 100%; }

body {
  min-height: 100%;
  font-size: 62.5%;
  background-color: #e2b8c2;
  font-family: wedding-gothic-atf, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #F7F7F6;
  display: flex;
  flex-direction: column; }
  body.page--detail .site__title {
    margin-top: 0; }

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

h1, h2, h3, h4, h5, .title {
  font-family: wedding-gothic-atf, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000000;
  font-weight: 700; }
  a:hover {
    text-decoration: underline; }

footer {
  background-color: #1C1F2A;
  display: flex;
  padding: .5rem 2rem;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.3em; }
  footer .footer__content {
    width: 60%;
    user-select:none;
    cursor: default;
}
  footer .footer__logo {
    width: 40%;
    text-align: right;
    align-self: center;
    margin-top: 0.5rem 0 -0.5rem 0; }

.footer__content a{
    text-decoration: none;
    color: #fff;
}

.footer__content a:hover{
    text-decoration: none;
    color: #fff;
}

.footer__content a:active{
    text-decoration: none;
    color: #fff;
}

.footer__content a:visited{
    text-decoration: none;
    color: #fff;
}

.scrollToTopBtn {
  background-color: #1C1F2A;
  border: none;
  border-radius: 40%;
  color: #fff;
  cursor: pointer;
  font-size: 2em;
  line-height: 0.1em;
  width: 2.4em;
  height: 2.4em;

  /* place it at the bottom right corner */
  position: fixed;
  bottom: 0.5em;
  right: 3em;
  /* keep it at the top of everything else */
  z-index: 100;
  /* hide with opacity */
  opacity: 0;
  /* translate effect */
  transform: translateY(50px);
  /* transition */
  transition: all .5s ease
}

.showBtn {
  opacity: 1;
  transform: translateY(0)
}

@media screen and (max-width: 600px) {
    .scrollToTopBtn {
        visibility: hidden;
        opacity: 0;
    }
}

.hidden {
  opacity: 0; }

nav {
  position: relative;
  background: #F7F7F6;
  box-shadow: 5px 2px 20px 0 rgba(0, 0, 0, 0.1);
  display: flex; }
  nav > * {
    width: 50%; }

.nav__logo {
  display: block;
  transform: translate3d(20px, 40px, 0); }

.nav__list {
  list-style: none;
  padding-left: 0;
  text-align: right;
  padding-right: 2rem;
  line-height: 2.5; }

.nav__item {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.4rem;
  color: #141720;
  letter-spacing: 1.45px;
  text-transform: uppercase; }
  .nav__item a {
    color: #141720;
    font-weight: 500; }
    .nav__item a:hover {
      text-decoration: none;
      color: #5D6BCF; }

.nav__social {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: .8; }

.nav_social__item {
  color: #141720;
  display: block; }
  .nav_social__item:hover {
    animation: shake .8s ease-in-out; }

.site {
  padding: 2rem 3rem; }

.site__title {
  font-size: 3rem;
  margin-bottom: 1rem;
  position: relative; }
  .site__title a {
    color: white; }
    .site__title a:hover {
      text-decoration: none; }
  .site__title.site__title--separator:after {
    position: absolute;
    border-bottom: 3px solid #0030ff;
    width: 40%;
    content: '';
    left: 0;
    bottom: -1.3rem; }

@media screen and (max-width: 600px) {
.site__title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  position: relative; }
  .site__title a {
    color: white; }
    .site__title a:hover {
      text-decoration: none; }
  .site__title.site__title--separator:after {
    position: absolute;
    border-bottom: 3px solid #0030ff;
    width: 40%;
    content: '';
    left: 0;
      bottom: -1.3rem; }}

.site__description {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.3;
  padding-top: 1rem;
  z-index: 1; }

.site__label {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  color: #c1bfbf; }

.site__secondary_title {
  display: none;
  color: black;
  margin: 2rem 5rem 0 5rem;
  font-size: 1.2rem;
  font-family: 'Source Sans Pro', sans-serif; }

.site__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  z-index: 1; }
  .site__navigation:hover .site__navigation_items {
    text-decoration: none; }
  .site__navigation * {
    transition: .5s ease-out; }
  .site__navigation .site__navigation_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem; }
    .site__navigation .site__navigation_items label {
      text-transform: uppercase;
      letter-spacing: 1px; }
    .site__navigation .site__navigation_items h4 {
      margin: 0;
      font-size: 1.2rem;
      line-height: 1.5rem;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 800;
      color: white; }
  .site__navigation .site__navigation_items--right {
    background-color: #F79E77;
    padding-left: 5rem;
    text-align: right; }
    .site__navigation .site__navigation_items--right label {
      color: #f15917; }
    .site__navigation .site__navigation_items--right:hover {
      background-color: #f15917; }
      .site__navigation .site__navigation_items--right:hover label {
        color: #692406; }
  .site__navigation .site__navigation_items--left {
    background-color: #7CCDB9;
    padding-right: 5rem; }
    .site__navigation .site__navigation_items--left label {
      color: #3fa48b; }
    .site__navigation .site__navigation_items--left:hover {
      background-color: #3fa48b; }
      .site__navigation .site__navigation_items--left:hover label {
        color: #14362d; }

#site__bg {
  display: none; }

.portfolio__title h4 {
  font-size: 1.6rem;
  margin: 1rem 0 .3rem 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #F7F7F6; }
  .portfolio__title h4:hover {
    color: #5D6BCF; }

.portfolio__description {
  margin-top: 0;
  font-size: 1.1rem;
  font-weight: 100;
  color: #c1bfbf; }

.play-pause-btn {
  height: 100%;
  width: 60px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141720;
  outline: none; }
  .play-pause-btn.play {
    background-image: url(../images/play.svg); }
  .play-pause-btn.pause {
    background-image: url("../images/pause.svg"); }

.audio-player {
  position: fixed;
  background-color: #292C37;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 300px;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .audio-player .play-pause-btn {
    display: none;
    cursor: pointer; }
  .audio-player .spinner {
    margin-left: 1.4rem;
    width: 18px;
    height: 18px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite; }
  .audio-player .slider {
    flex-grow: 1;
    background-color: #F7F7F6;
    cursor: pointer;
    position: relative; }
    .audio-player .slider .progress {
      background-color: #7CCDB9;
      border-radius: inherit;
      position: absolute;
      pointer-events: none; }
      .audio-player .slider .progress .pin {
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background-color: #7CCDB9;
        position: absolute;
        pointer-events: all;
        box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32); }
  .audio-player .controls {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #55606E;
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px; }
    .audio-player .controls .slider {
      margin-left: 16px;
      margin-right: 16px;
      border-radius: 2px;
      height: 4px; }
      .audio-player .controls .slider .progress {
        width: 0;
        height: 100%; }
        .audio-player .controls .slider .progress .pin {
          right: -8px;
          top: -6px; }
    .audio-player .controls span {
      cursor: default; }

/* mobile first*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .page--detail .site {
    padding-bottom: 5rem;
    padding-top: 5rem; }

  .left .site__title.site__title--separator:after {
    display: none; }

  .right .portfolio__image {
    width: 100%;
    float: left;
    margin: 1.5rem 1rem 0 0;
    border-radius: 2px; }
  .right .playBtn {
    display: none; } }
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 1000px) {
  /* main page */
  body {
    position: relative; }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    flex-direction: column;
    width: 60px;
    transition: .5s; }

  footer {
    padding-left: 110px;
    margin-bottom: -1rem; }

  .main {
    display: flex;
    padding-left: 60px;
    flex-grow: 1; }

  #site__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block; }

  .site {
    padding-top: 4rem;
    padding-left: 4rem;
    flex: 1; }

  /* nav */
  .nav__list {
    transform: rotate(90deg);
    transform-origin: 0px 150% 0px; }

  .nav__item {
    font-size: .8rem;
    letter-spacing: 2px; }
    .nav__item a {
      font-weight: 600; }

  .nav__social {
    display: block; }

  /* portfolios */
  .portfolios {
    display: flex;
    flex-wrap: wrap;
    margin: 160px 0 0 50px;
    max-width: 800px; }

  .portfolio {
    flex-direction: column;
    max-width: 220px;
    margin-right: 2rem;
    margin-bottom: 3rem; }
    .portfolio:hover .portfolio__detail:before {
      display: none; }

  .portfolio__number {
    display: block; }

  .portfolio__media {
    width: 100%;
    height: 294px;
    max-width: 200px; }

  .portfolio__detail {
    width: 100%; }

  .portfolio__description {
    font-size: 1rem;
    font-weight: 300; }

  /* page detail */
  .page--detail {
    flex-direction: row; }
    .page--detail .site {
      display: flex;
      padding: 0 0 0 60px; }

  .left,
  .right {
    width: 50%; }

  .left {
    padding-left: 5rem;
    padding-top: 5rem;
    display: flex;
    flex-direction: column; }
    .left .site__title.site__title--separator:after {
      display: block;
      width: 100px; }
    .left .portfolio__date {
      padding: 1rem 0 2rem 0;
      color: #5D6BCF;
      font-weight: 500;
      font-size: 1rem; }

  .right {
    display: flex;
    flex-direction: column;
    background-color: #F7F7F6;
    position: relative; }
    .right .portfolio__image {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: .1;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      width: 100%;
      margin: 0;
      float: none;
      object-fit: cover; }
    .right .site__description {
      color: #1C1F2A;
      font-weight: 500;
      font-size: 1rem;
      margin: 0 5rem auto 5rem; }
    .right .site__playbar {
      margin: 5rem 3rem 0 3rem; }
    .right .site__navigation {
      margin: 2rem 0; }

  .site__secondary_title {
    display: block; }

  /* audio player */
  .site__playbar {
    background: white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); }

  .audio-player {
    position: inherit;
    background-color: white;
    margin-right: 5rem;
    border-radius: 4px; } }
@media only screen and (min-width: 1400px) {
  .main {
    align-self: center; }

  .right .site__secondary_title {
    max-width: 900px;
    margin: 2rem auto 0 auto; } }
@media only screen and (min-width: 1600px) {
  .left {
    padding-left: 0;
    padding-top: 0;
    align-items: center;
    justify-content: center; }
    .left .site__title--separator:after {
      position: relative;
      margin: 0 auto; }
    .left .site__label {
      margin-bottom: 3rem; }

  .right .site__description {
    max-width: 60%;
    margin: 0rem auto auto auto;
    column-count: 3; }
  .right .site__playbar {
    margin: 5rem 10% 0 10%; } }

.item {
    width: 85vw;
    align-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    display: block;
}

@media only screen and (max-width:600px){
    .site h1 {
        font-size: 6vw;
    }
    .site p {
        font-size: 4vw;
    }
    .item {
        width: 75vw;
      }
}
.item__caption p {
        border: 2px;
        border-style: none;
        visibility: visible;
    }

/* MOUSE HOVER RAINBOW */
.item__caption a,a:active,a:visited {
    text-decoration: none;
    color: #0030ff;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
.item__caption a:hover {
    text-decoration: none;
    background-color: #0030ff;
    background-image: linear-gradient(45deg, #0030ff,#f32015,#f315d9);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    animation: rainbow-text-simple-animation 2s ease-in forwards;
}
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}
@keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}
